<p style="color: green"><%= notice %></p>

<h1>Players</h1>

<%= form_with(url: players_path(turbo_frame: "players"), method: :get, data: { turbo_frame: "players" }) do |form| %>
  <%= form.label :query, "Search by name:" %>
  <%= form.text_field :query %>
  <%= form.submit "Search", name: nil %>
<% end %>

<%= render "players", players: @players %>

<%= link_to "New player", new_player_path %>
